.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  header {
    margin-bottom: 1rem;
    background-image: url(../assets/astros.png);
    background-repeat: no-repeat;
  }

  main {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }


  nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    background-color: #fbc7659e;

    a {
      text-decoration: none;
      color: #333;
      font-weight: 600;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      transition: all 0.2s ease;

      &:hover {
        background-color: #eb6c1766;
        color: #fff;
      }

      &.active {
        background-color: #eb6c17;
        color: #fff;
      }
    }
  }

  footer {
    border-top: 1px solid #eee;
    color: #666;
    font-size: 0.9rem;
  }
}

.filterSection {
  display: flex;
  justify-content: space-between;
}

.dataSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  gap: 1rem;
}